#!/usr/bin/env bash

if [[ -f ~/.nix-channels ]]; then
  source_env .config/direnv/envrc.nixify
  use_nix -s .config/nix/shell.nix -w .config/nix/.nixpkgs-version.json
#  export SSL_CERT_FILE=/home/steshaw/.nix-profile/etc/ssl/certs/ca-bundle.crt
fi

source .config/environment
watch_file .config/environment
