#!/usr/bin/env bash

if [[ -f ~/.nix-channels ]]; then
  source_env .config/direnv/envrc.nixify
  use_nix -s .config/nix/shell.nix -w .config/nix/.nixpkgs-version.json
fi

source .config/environment
watch_file .config/environment
